:host {
  height: 15vh;
  width: 100vw;
  background-image: url("../../../assets/logos/full-rectangular.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
